@media (max-width:992px){
    .main-navbar .navbar-collapse{
        background-color: whitesmoke;
        border-radius: 20px;

    }
}


.homepage-main{
    background-color:rgb(243, 243, 243);
    background-image: url(../../assets/homepage/img/mainbg.png);
    background-size: cover;
   
}
.homepage-main-heading{
    padding-top:'1%';
    font-family: cursive ;
    
}
.homepage-HowWorks-rocket{
    z-index: 2;
    margin-top:-15% ;
    padding-bottom: 5%;
    
}
.homepage-HowWorks-title{
    font-family: 'Courier New', Courier, monospace;
}

.homepage-content, .homepage-contentLS{
    overflow: hidden;
}
.homepage-content-counting-one{
    z-index: -1;
    left:-6%;
    position: absolute;
    top:4%;
    
    
}
@media (max-width: 992px){
    .homepage-content-counting-one{
        justify-content: center;
        top:0;
    }
}
.homepage-content-counting-two{
    z-index: -1;
    right:-5%;
    position: absolute;
    top:12%;  
}

@media (max-width: 992px){
    .homepage-content-counting-two {
        justify-content: center;
        top:0;
    }
}
.homepage-content-heading{
    text-align: center;
}

.homepage-content-dash{
    margin: 0 auto;
}
.owl-carousel .owl-stage{
    display:flex;
}
.item{
    height: 100%;
    padding: 20px;
}
.homepage-recentblogscard{
 
    text-align: center;
     border:1px solid rgb(241, 241, 241);
    border-top: none;
    height: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.homepage-recentblogscard-image{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.homepage-recentblogscard-content{
   
}

.homepage-whattheysay{
    margin-bottom: 8%;
   
}
.homepage-whattheysay-slider-review{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    
}
.homepage-whattheysay-slider-item{
    border:1px solid rgb(241, 241, 241);
    border-radius: 20px;
    text-align: center;
    height: 100%;
    
}
.homepage-whattheysay-slider-item:hover{
    box-shadow:  0 0 3px rgb(0, 236, 225),0 0 7px rgb(0, 255, 242) ;
}
.homepage-feedbackbox{
    background-color: orange;
    border-radius: 25px;
}
.homepage-feedbackform-element{
    border-radius: 10px;
    border:none;
    background-color: #0001;
    height: 40px;
    padding: 10px;
    color: black;
    outline: none;
}
.homepage-feedbackform-element::placeholder{
    color: white;
    opacity: 1;
}
.homepage-feedback-btn{
    border-radius: 10px;
    border: none;
    background-color:white ;
    padding: 7px;
    margin-left: 5px;
}
.homepage-feedback-img{
    width: 20%;
    
    margin-top:-20%;
}
.footer{
    background-image: url(../../assets/homepage/img/footerbg.png);
}
#footer-main-container{
    padding-top: 20%;
}
@media (max-width: 1200px){
    #footer-main-container{
        padding-top: 30%;
    }
}
@media (max-width: 766px) and (min-width:300px){
    #footer-main-container{
        padding-top: 50%;
    }
}
.footer-lhs-team-photo{
    margin: 0 auto;
}

.footer-rhs h1{
    font-family: cursive ;
     font-weight: bolder;
}
.footer-btn-half{
    padding:10px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 10px;
    outline: none;
    font-weight: bolder;
    
}
.footer-btn-full{
    background-color: transparent;
    padding:10px;
    outline: none;
    border:none ;
    outline: none;
    color: orange;
    font-weight: bolder;
}
.footer-subscribe-form{
    background-color: white;
    border-radius: 8px;
    padding:7px;
}
.footer-form-element{
    border-radius: 10px;
    border:none;
    
    background-color:white;
    height: 40px;
    padding: 10px;
    color: rgb(0, 0, 0);
    outline: none;  
}
@media (max-width: 319px){
    .footer-form-element{
      
       text-align:center;
    }
}
.homepage-feedbackform-element::placeholder{
    color: black;
    opacity: 1;
}
.footer-subscribe-btn{
    border-radius: 10px;
    border: none;
    outline: none;
    background-color:rgb(107, 14, 107) ;
    box-shadow: 0 0 8px rgb(194, 26, 194);
    padding: 7px;
    margin-left: 5px;
   
}

